header {
    background-color:#FFE8E8;
}
.title {
    color: #7794FC;
}
.space{
    padding-bottom: 3em;;
}
.interactiveMode {
    height: 290px;
}
.media{
    padding-top: 1em;
}
.home{
    color: #6C6767 !important;
}
.team{
    color:#B38FFF !important;
}
#mainpage {
    background-color: #F9F9F9;
}
.evidence{
    padding-bottom: 2.5em;
}
.before{
    padding-top: 8em;
}