
        
        <div class="row">
            <div class="col-md-6 pl-5">
                <h3 class="text-center mt-5 mb-4">Art Movements in the 20th Century (before WWII)</h3>
                <p>The 20th century opened new vistas and possibilities that expanded everyday human experience and greatly influenced the world of art and original painting. From the earliest years of the turn of the century, artists were beginning to experiment with subject matter, creating realities reflective more of their own inner visions than what lay before them in nature. Concurrent with this was a search for new techniques, materials, and approaches to support these forays into new terrains.</p>
                <p>Here are some of the major movements that defined and shaped art in the 20th century and which still influence the art being produced today.</p>
                <a href="/pages.html" class="btn btn-info float-right" role="button" aria-pressed="true">Learn More</a>
            </div>
            <div class="col-md-6">
                <img class="w-100 dropshadow" src="assets/images/11.jpg" alt="Personal Values by Rene Magritte, 1952">
                <blockquote class="blockquote text-right">
                    <footer class="blockquote-footer">Rene Magritte, <cite title="Source Title">Personal Value</cite>, 1952, <br>Musee Magritte Museum, Belgium</footer>
                </blockquote>
            </div>
        </div>
        

        
        
      </div>

      

      <script src="assets/js/javascript.js" >
        
    </script>




